.boton-busqueda:hover {
    background-color: rgb(156, 135, 181);
}

nav 
    li:hover {
        background-color: rgb(156, 135, 181);
}

// Esto al ser de bootstrap no me permitia cambiar nada
.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0 / 100%);
}
// Esto al ser de bootstrap no me permitia cambiar nada

a:visited {
    color:black;
}

