.servicios-img, .nosotros-img{
    width: $mobile;
    border: 4px solid $fondo;
}

.img-destacado {
    width: $mobile;
}

.banner-img {
    width: 100vw;
}

.chef-img {
    width: $mobile;
    border: 4px solid $fondo;
}

.menu-grilla img {
    width: 150px;
    border: 2px solid $fondo3;
}