.nosotros {
    @include flex-column;
    margin: 0.5em;

    .quienes-somos, .equipo {
        @include flex-column;
        text-align: justify;
        margin: 8px;
    }
}

@media (min-width: 1024px) {
    .nosotros {
        display: flex;
        gap: 15px;

        .equipo {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            gap: 5px;
        }

        .quienes-somos {
            @include flex-row;
            gap: 5px;
        }
    }
}



