.servicios {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0.5em;

    .servicios-postres, .servicios-catering, .servicios-fiesta {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 8px;  

        .servicios-texto {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    @media (min-width: 1024px) {
        
        .servicios-postres {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 8px;
            gap: 8px;
            padding: 5px;
        }

        .servicios-catering {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            margin: 8px;
            gap: 8px;
            padding: 5px;
        }

        .servicios-fiesta {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 8px;
            gap: 8px;
            padding: 5px;
        }
    }
}